$grey: #bfbfbf;

$dark-grey: #888;

$light-grey: #e0e0e0;

$blue: #5592f6;

$light-blue: #10a0ff;

$red: #de342f;

$dark-orange: #fc790c;

$orange: #ff9412;

$light-orange: #ffc046;

$green: #1fb08a;

$dark-blue: #28384b;

$yellow: #fdc30a;

$bg-top: #383b3d;
$primary: #186a9c;