@media screen and (min-width: 1900px) {
  body {
    font-size: 18px;
  }
}

@media screen and (max-width: 1080px) {

}

@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }

  p, h3 {
    font-size: 14px;
  }

  header {
    font-size: 14px;

    nav {
      .container {

        .logo {
          flex-grow: 1;
        }

        a.hamburger {
          display: block;
          font-size: 24px;
          color: white;
        }

        .menu {
          display: none;
          width: 100%;
          margin-bottom: 16px;
          a, button {
            display: block;
            margin: 8px 16px;
          }

          .dropdown-menu {
            background: $dark-grey;
            padding: 0;
            font-size: 12px;

            a.dropdown-item {
              margin-left: 0;
            }
          }

        }
      }
    }

  }

  ul.banner {

    li.item {
      a.button {
        display: none;
      }
    }

    button.slick-arrow {
      display: none !important;
    }

    ul.slick-dots {
      bottom: 16px;

      button:before {
        font-size: 8px;
      }
    }

  }

  main {

    #product {
      h2 {
        font-size: 24px;
      }

      .group-product {
        .item {
          flex: 0 0 100%;
          margin-bottom: 32px;
          padding: 0;

          .img {
            height: auto;
            padding: 16px 32px;
          }
        }

        h3 {
          height: auto;
        }

        &.row-3-item {
          display: block;

          .item {
            margin-bottom: 32px;
          }
        }
      }
    }

    #news {

      overflow: hidden;
      h2 {
        font-size: 24px;
      }

      .group-item {
        display: block;
        .item {
          padding: 16px;
          margin: 0 16px;
        }
      }
    }

    #comment {
      h2 {
        font-size: 24px;
        margin-bottom: 16px;
      }

      .quote {
        width: 64px;
        height: 64px;
      }

      .name {
        width: 100%;
      }
    }

    #list-logo {
      .logo {
        width: 80px;

      }
    }
  }

  main#article {
    padding: 8px 0;

    h2 {
      font-size: 20px;
    }

    .left {
      .new-box {
        display: block;
        margin-bottom: 16px;

        .combo-box {
          margin-left: 0;
        }

        p.time {
          margin-bottom: 0;
        }

      }
    }

  }

  footer {
    text-align: center;
    .contact {
      padding: 32px 0;
      h3 {
        margin-bottom: 16px;
      }
    }
    .copy-right {
      padding: 16px 0;
    }
  }

  .m-mt16 {
    margin-top: 16px;
  }
  .m-mt32 {
    margin-top: 32px;
  }

  .m-my32 {
    margin-top: 32px;
    margin-bottom: 32px;
  }

  .m-mb16 {
    margin-bottom: 16px;
  }

  .m-mb32 {
    margin-bottom: 32px;
  }

  .m-ml0 {
    margin-left: 0;
  }
  .m-mr0 {
    margin-right: 0;
  }

  .m-center {
    text-align: center;
    justify-content: center;
  }

}